<div class="contain">
    <div class="form-control">
        <img src="../../../assets/logo.jpg">
        <h5>In order to get you started, let us get you a Shuri ID.<br>Already have an account? <span [routerLink]="['/login']">Sign In</span> </h5>
        <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="email" placeholder="Enter email" #userEmail required autofocus [(ngModel)]="login.email">
        </div>

        <div class="input-container">
            <i class="fa fa-key icon"></i>
            <input class="input-field" type="password" placeholder="Password" #userPwd required [(ngModel)]="login.password">
        </div>
        <br/>
        <button type="submit" (click)="register()" class="btn">Register</button>
    </div>
</div>