<div class="nav-container">
    <ngb-tabset>
        <ngb-tab title="Reports">
            <ng-template ngbTabContent>
                <app-bar></app-bar>
            </ng-template>
        </ngb-tab>

        <ngb-tab>
            <ng-template ngbTabTitle>API Keys</ng-template>
            <ng-template ngbTabContent>
                <app-reports></app-reports>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>My Account</ng-template>
            <ng-template ngbTabContent>
                <app-profile></app-profile>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Billing</ng-template>
            <ng-template ngbTabContent>
                <app-billing></app-billing>
            </ng-template>
        </ngb-tab>
        <ngb-tab>
            <ng-template ngbTabTitle>Notifications</ng-template>
            <ng-template ngbTabContent>
                <app-notification></app-notification>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>
    <div class="logout" (click)="logout()">
        <h1>logout</h1>
    </div>
</div>